/*
          _ _             __          __                  _
    /\   | | |            \ \        / /                 | |
   /  \  | | | ___ _ __    \ \  /\  / / __ ___ _ __   ___| |__
  / /\ \ | | |/ _ \ '_ \    \ \/  \/ / '__/ _ \ '_ \ / __| '_ \
 / ____ \| | |  __/ | | |    \  /\  /| | |  __/ | | | (__| | | |
/_/    \_\_|_|\___|_| |_|     \/  \/ |_|  \___|_| |_|\___|_| |_|

*/

@import url('uikit.min.css');
@import url('fontawesome.min.css');
@import url('pikaday.css');

body {
  margin-top: -80px;
}

/* Custom */

.title {
  color: #FFFFFF;
}

/* UI Kit */

em {
  color: inherit;
}
.uk-section {
  margin-top: 80px;
}

/* Links */

a {
  color: #00BFFF;
}

/* Top Nav */

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #00BFFF;
}
.uk-navbar-container {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

/* Buttons */

.uk-button-primary,
.uk-button-primary:hover,
.uk-button-primary:focus,
.uk-button-primary:active {
  background: #FFC24D;
}

/* JQuery Validation */
.error {
  color: #F0506E;
  font-weight: bold;
}
